@font-face {
    font-family: 'Satoshi Bold';
    src: url('../../assets/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }

.kontenKatalog{
    background: white;
    padding: 10vw 0 0 2vw;
}

.isiKonten{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.JUDUL{
    font-size: 1.5rem;
}

.h2{
    font-weight: 'Satoshi Bold', sans-serif;
    color: #ff5600;
    text-align: center;
    font-size: 1.6rem;
    width: 794px;
height: 24px;


}

.textKatalog{
    font-size: 1.5rem;
    text-align: center;
    width: 794px;
height: 74px;

}