.breadcrumbC{
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    align-items: center;
    background-color: white;
  }

.breadcrumb-logo {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.default-label {
    color: black; /* Warna label default */
  }
  
  .active-label {
    color: #ff5600 !important; /* Ganti dengan warna aktif, misalnya biru */
  }

@media (max-width: 480px) {
  .breadcrumbC {
    font-size: x-small;
  }
}