.breadcrumbC{
    padding-left: 1vw;
    display: flex;
    align-items: center;
    background-color: white;
  }

.default-label {
    color: black; /* Warna label default */
  }
  
  .active-label {
    color: #ff5600 !important; /* Ganti dengan warna aktif, misalnya biru */
  }

  