@font-face {
  font-family: 'Satoshi Black';
  src: url('../../../assets/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.katalog {
  position: relative;
  display: inline-block;
  font-family: 'Satoshi Black', sans-serif;
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.judulArmada {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  z-index: 2;
}

/* Form Styling */
.formContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 6px;
  z-index: 3;
}

.inputContainer{
  margin-top: 10px;
  width: 100%;
}

.inputGroup,
.radio {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) border-box;
  padding: 1.5vw;
}

.inputGroup {
  width: 17vw;
}

.asal {
  border-radius: 6px 0 0 6px;
}

.input {
  margin-left: 5px;
  border: none;
  max-width: 10vw;
}

.icon {
  width: 20px;
  height: 20px;
}

.dropdownT {
  color: black;
}

.button {
  background: #ff5600;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
  padding: 0 2vw;
  width: 13vw;
  cursor: pointer;
}

.button:hover {
  background: #ff9a66;
}

.rekom {
  border: none;
  width: 100%;
}

.rekom:hover {
  color: #ff5600 !important;
}

.judulRekom {
  text-align: center;
  font-size: 1.5rem;
}

.rekomendasi{
  width: 1000px;
}

.radio {
  width: 31vw;
  font-weight: bold;
}

.custom-radio .ant-radio-input:checked ~ .ant-radio-inner,
.custom-radio .ant-radio-input:checked ~ .ant-radio-inner::after {
  background-color: #ff5600 !important;
  border-color: #ff5600 !important;
}

.buttonRadio {
  display: flex;
  justify-content: end;
}

.buttonRadioBack,
.buttonRadioSubmit {
  width: 8vw;
}

.buttonRadioBack {
  border-color: #ff5600;
  color: #ff5600;
}

.buttonRadioSubmit {
  background-color: #ff5600;
  color: white;
}

/* Responsive Styling */

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .img {
    width: 90vw;
  }
  .judulArmada {
    font-size: 2rem;
  }

  .formContainer{
    left: 50vw;
  }

  .inputContainer{
    width: 100%;
  }

  .inputGroup {
    width: 20vw;
  }
  .button {
    width: 15vw;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .img {
    width: 100vw;
  }
  .judulArmada {
    font-size: 1.5rem;
  }
  .formContainer {
    top: 40vw;
    flex-direction: column;
    width: 80vw;
    left: 45vw;
  }
  .inputGroup {
    width: 100%;
  }
  .button,
  .input {
    width: 100%;
  }
}
